<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_title }}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body>


<!--CONTAINER-->
{% for galaxy in galaxies %}
<form action="/AddManga" method="post">
    <input type="hidden" name="Link" value="{{ galaxy[0] }}">
    <button type="submit" class="link-button">
        {{ galaxy[1] }}
      </button>
</form>
{% endfor %}

<form action="/AddManga" method="post">

    <label for="Link">Link</label>

    <input type="text" name="Link"><br/>

    <input type="submit" value="Cargar" />

</form>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>