<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_title }}</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body>


<!--CONTAINER-->

<div class="container">
<form action="/AddManga" method="post">
    <div style="display: flex;">

        <h3>New <span class="label label-default">Link</span></h3>

        <input type="text" name="Link"><br/>

        <input type="submit" class="btn btn-primary" value="Cargar" />
    </div>
</form>
</div>
<br>
{% for galaxy in galaxies %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <form action="/AddManga" method="post">
                <input type="hidden" name="Link" value="{{ galaxy[0] }}">
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="{{ galaxy[2] }}" alt="Italian Trulli">
                    {{ galaxy[1] }}
                </button>
            </form>
        </div>
    <div class="col-sm">
        <form action="/" method="post">
            <input type="hidden" name="delete" value="{{ galaxy[1] }}">
            <button type="submit" class="btn btn-secondary btn-lg">
            <span> &times;</span>
            </button>
        </form>
    </div>
</div>
</div>
{% endfor %}

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>